body{
    padding: 0;
    margin: 0;
}
nav ul{
    text-align: center;
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding: 15px;
}
nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.images{ text-align: center;}
.images img{
    width: 24%;
}
/*للايباد*/
@media screen and (max-width:768px) {
    .images img{
        width: 48%;
    }
    nav{
        background-color: #000;
    }
    nav ul li a{
        color: #fff;
        font-size: 18px;
    }
}

/*للجوال*/
@media screen and (max-width:400px){
    .images img{
        width: 94%;
        margin-bottom: 1%;
    }
    nav ul{
        margin: 0 0 2% 0;
        padding: 0;
    }
    nav ul li {
        display: block;
    }
    nav ul li:hover{
        background-color: #333;
        cursor: pointer;
    }
}







