body{
    background-color: #28311b;
}
#container{
    max-width: 91%;
    margin: auto;
}
#name{
    width: 70%;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

#botom button{
    width: 3%;
    float: right;
    background: none;
    color: white;
    padding: 7px 30px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: -35px;
    outline:0px;
}

#list ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}
#list ul li{
    float: left; 
    padding: 10px;
    cursor: pointer;
    color: white;
}
#start #slider1{
    background-image:url(welc.jpg);
    width: 50%;
     height: 680px;
     float: right;
}
#start #slider2{
    background-image:url(white.jpg);
    width: 50%;
     height: 680px;
}
#start #slider2 #intro{
    padding-top: 150px;
    padding-left: 130px;    
    line-height:1.67em;
}
#start #slider2 #intro h4{
    font-size: 70px;
    font-family: 'El Messiri', sans-serif;
    color: #333;
    padding-bottom: 22px;
    border-bottom: 3px solid #28311b;
    width: 390px;
}

#start #slider2 #intro p{
    font-family: 'Zen Loop', cursive;
    font-size: 50px;
    margin-left: 50px;

}
#start #slider2 #intro button{
    background-color:#28311b ;
    color: white;
    margin-left: 160px;
    margin-top: 20px;
    padding: 10px;
    outline: 0px;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
}
main{
    width: 100%;
    height: 700px;

}
#about{
    color: white;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 42%;
    border-bottom: 4px solid white;
    width: 300px;
    padding-top: 90px;
}
#icon1{
    margin-right: 25px;
}
#article1{
    width: 35%;
   
}
#article1 img{
    width: 300px;
    height: 300px;
    margin-top: 80px;
    margin-left: 70px;
}
#article2{
    width: 65%; 
    float: right; 
    margin-left: -100px;
}
#article2 p{
    color: white;
    margin-top: -250px;
    line-height: 2.5rem;
    font-size: 20px;
    
}
#article3 ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin-left: 470px;  
    margin-top: -80px;  
}
#article3 ul li{
      float: left; 
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(156, 156, 156);
    margin-right: 70px;
}

#section{
    width: 100%;
    height: 680px;
    padding-top: 80px;
   
}
#section #project{
    color: white;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 40%;
    border-bottom: 4px solid white;
    width: 380px;
}
#icon2{
    margin-right: 10px;
}
#section #had{
    width: 33.333333333333%;
    float: left;
    margin-top: 140px;
    line-height: 1.8rem;
}
#section #had img{
    width: 420px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    cursor: pointer;
}
#section #had img:hover{
    opacity: 0.7;
}
#section #had h2{
    color: white;
    margin-left: 100px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom:3px solid rgb(221, 73, 73);
    width: 215px;
}
#section #had p{
    color: rgb(144, 248, 252);
    margin-left: 100px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#skills{
    width: 100%;
    height: 680px;
    padding-top: 80px;
}
#skills #skill{
    color: white;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 42%;
    border-bottom: 4px solid white;
    width: 280px;
}
#icon3{
    margin-right: 25px;
}
#skills #icons{
    width: 100%;
    height: 480px;
    margin-top:120px;
    text-align: center;
    padding-left: 70px;
}
#skills #icons img{
    width: 120px;
    height: 120px;
    margin-right: 170px;
    margin-bottom: 120px;
}

#contact{
    width: 100%;
    height: 500px;
    margin-top: 80px;  
}
#contact #slidr1{
    background-image:url(contactt.jpg);
    width: 50%;
     height: 500px;
     float: right;
     background-repeat: no-repeat;
}
#contact #slidr2{
    background-image:url(white.jpg);
    width: 50%;
     height: 480px; 
     float: left;
}
#contact #slidr2 #intr{
    text-align: center;
    padding-top: 50px; 
    line-height:2rem;
}
#contact #slidr2 #intr h4{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
#contact #slidr2 #intr ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin-left: 290px;    
}
#contact #slidr2 #intr ul li{
      float: left; 
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
}
#contact #slidr2 #intr ul li:hover{
    color: red;
    font-size: 25px;
}
#footer{
    height: 110px;
    width: 100%;  
}
#footer #radwan1{
    width: 100%;
    color: white;
}
#footer #radwan1 ul{
    list-style: none;
    margin-left: 290px; 
    margin-top: 70px;
    padding-left: 315px;  
}
#footer #radwan1 ul li{
      float: left; 
    padding: 10px;
    cursor: pointer;
    font-size: 20px;   
    color: white;
}
#footer #radwan1 ul li:hover{
    color: red;
    font-size: 25px;
}
#footer #radwan2{
    width: 100%;
    padding-top: 55px;
    text-align: center;
    color: white;
}



