@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --main-color:#ff9f1a;
    --bg-color-1:#eee;
    --bg-color-2:#fff;
    --text-color-1:#444;
    --text-color-2:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background:var(--bg-color-1);
}

body.active{
    --bg-color-1:#222;
    --bg-color-2:#333;
    --text-color-1:#fff;
    --text-color-2:#aaa;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
}

section{
    padding:2rem 9%;
}

.btn{
    margin-top: .5rem;
    display: inline-block;
    padding:.9rem 3.5rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    border-radius: 5rem;
    cursor: pointer;
    animation:animate .4s linear 1s backwards ;

}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
}

.heading{
    text-align: center;
    color:var(--text-color-1);
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color-2);
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    
}

.header .heading{
    font-size: 2.8rem;
    font-weight: bolder;
    color:var(--text-color-1);
    height: 4.5rem;
    line-height: 4.5rem; 
}

.header .icons div{
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.7rem;
    color:var(--text-color-1);
    background:var(--bg-color-1);
    margin-left: .5rem;
    cursor: pointer;
}

.header .icons div:hover{
    background:var(--main-color);
    color:#fff;
    transform: rotate(360deg);
}

.header .navbar{
    position: absolute;
    top:115%; right: 9%;
    background:var(--bg-color-2);
    border-radius: .5rem;
    width:25rem;
    padding:1rem;
    display: none;
}

.header .navbar.active{
    display: block;
}

.header .navbar a{
    font-size: 2rem;
    padding:1rem;
    color:var(--text-color-1);
    display: block;
}

.header .navbar a:hover{
    color:var(--main-color);
    padding-left: 2rem;
}

.header .search-form{
    position: absolute;
    top:115%; right: 9%;
    background:var(--bg-color-2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    height: 5rem;
    width:50rem;
    padding:1rem;
    display: none;
}

.header .search-form.active{    
    display: flex;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background:none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--text-color-1);
    padding:1rem;
}

.header .search-form label{
    color:var(--text-color-1);
    font-size: 2rem;
    padding-right: .8rem;
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .colors-palette{
    position: absolute;
    top:115%; right: 9%;
    background:var(--bg-color-2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:1rem;
    text-align: center;
    width: 20rem;
    display: none;
}

.header .colors-palette.active{
    display: block;
}

.header .colors-palette h3{
    padding:.7rem;
    font-size: 2rem;
    color:var(--text-color-1);
}

.header .colors-palette .colors{
    display: flex;
    flex-wrap: wrap;
    padding:.7rem;
    justify-content: center;
    gap:1rem;
}

.header .colors-palette .colors .color{
    border-radius: .5rem;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
}


#menu-bars{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
  .home .content{
    text-align: center;
  }
  
  .home .content h3{
    font-size: 4.5rem;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
  }
  
  .home .content p{
    font-size: 2.5rem;
    color:#fff;
    padding:.5rem 0;
  }
  
  .home .video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .home .controls{
    padding:1rem;
    border-radius: 5rem;
    background:rgba(0,0,0,.7);
    position: relative;
    top:10rem;
  }
  
  .home .controls .vid-btn{
    height:2rem;
    width:2rem;
    display: inline-block;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
    margin:0 .5rem;
  }
  
  .home .controls .vid-btn.active{
    background:var(--orange);
  }



.service .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;

}

.service .box-container .box{
    border-radius: .5rem;
    background:#333;
    text-align: center;
    padding:2.5rem;
    cursor: pointer;
    box-shadow: 0 0 1rem black;
    background: var(--box-shadow);
    overflow: hidden;
    position: relative;
    
}

.service .box-container .box .image{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    top:-100%; left:0;
  }


.service .box-container .box .content i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background:var(--main-color);
    color:#fff;
}

.service .box-container .box .content h3{
    font-size: 2rem;
    color:#fff;
    padding:1rem 0;
    color: var(--text-color-1);
    
}

.service .box-container .box .content p{
    font-size: 1.4rem;
    color:#eee;
    line-height: 1.8;
    color: var(--text-color-1);
}
.service .box-container .box:hover .image{
    top:0;
    border-radius: .5rem;
    border:1rem solid #777;
  }

.service .box-container .box:hover .content{
    transform: translateY(135%);
  }






.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 45rem;
    padding:1rem;
}

.about .row .image img{ 
    width: 100%;
    border-radius: .5rem;
    border:1rem solid #333;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color:#fff;
    color: var(--text-color-1);
}

.about .row .content p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
    line-height: 2;
    color: var(--text-color-1);
}

.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.gallery .box-container .box{
    position: relative;
    border:1rem solid #333;
    border-radius: .5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box:hover img{
    transform: scale(1.1);
    filter: grayscale();
}

.gallery .box-container .box .title{
    position: absolute;
    top:-10rem; left:0; right: 0;
    background:#333;
    color:#fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.gallery .box-container .box:hover .title{
    top:0;
}

.gallery .box-container .box .icons{
    position: absolute;
    bottom:-10rem; left:0; right: 0;
    background:#333;
    padding-top: 1rem;
    text-align: center;
}

.gallery .box-container .box:hover .icons{
    bottom: 0;
}

.gallery .box-container .box .icons a{
    font-size: 2rem;
    margin:.5rem 1rem;
    color:#fff;
}

.gallery .box-container .box .icons a:hover{
    color:var(--main-color);
}

.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
    
    
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    background:var(--bg-color-2);
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
   color: var( --text-color-1);
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:var(--text-color-1);
    text-transform: capitalize;
}

.contact form .inputBox input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.footer{
    background:#111;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }    

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    .header .navbar{
        right: 2rem;
    }

    .header .search-form{
        right: 2rem;
        width:90%;
    }

    .header .colors-palette{
        right: 2rem;
    }

    

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }   

    .contact form .inputBox input{
        width:100%;
    }

}












 .loader-container{
    position: fixed;
    top:0; left:0;
    z-index: 10000;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
    overflow: hidden;
  }
  
  .loader-container img{
    width: 100rem;
  }
  
  .loader-container.fade-out{
      top: 110%;
      opacity: 0;
  } 